body{
	color:#0f0f0f;
	font-family:'Lucida Sans';
	font-size: 2rem;
	background-color: rgb(255, 245, 180);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
img,
dd {
    margin-left: 10;
	margin-right: 10;
	margin-top: 0;
	margin-bottom: 10;
}

/*the navbar styling goes here*/
nav{
	margin:0;
	position: fixed;
	background-color: #424b54;
}
nav ul{
	list-style-type: none;
	background-color: #424b54;
	top: 0;
	width: 100%;
	color: #424b54;
}
  
nav ul li{
	float: left;
	font-size: 1rem;
}
  
a{
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
nav li:hover{
	background-color: rgb(97, 97, 97);
}
  
nav #active{
	background-color: rgb(184, 29, 29);
}


p {
	color: rgb(0, 0, 0);
}  
h3 {
	color: rgb(0, 0, 0);
} 
h5 {
	color: rgb(0, 0, 0);
}  
p{
	color:#101010;
}

img {
    /* makes images fill the grid box and as a slight cruve around the edges */
    width: 100%;
    border-radius: 0.5rem;
    height: auto;
    display: block;
}


/* defines the childs, size and space the top hero grid fills */
.hero-grid {
    display: grid;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
    grid-template-areas:
        'one';
    width: 96vw;

}

/* defines the childs the hero grid*/
.hero-grid:nth-child(1) {
    grid-area: one
}

/* places the location of the hero grid */
.hero-grid {
    grid-template-areas:
        "one";

}

/* Sets the size for the Hero image so it fills the correct space */
.heroimg {
	width: 95vw;
	height: 40vh;
	border-radius: 0.5rem;
	display: block;
}

footer{
	font-size: 0.5rem;
}